.clients__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
  
  .clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  }
  
  .clients__link:hover path{
    fill: var(--accent-color);
  }
  
  .clients__link:hover{
    border-color: var(--accent-color);
  }

  @media (max-width: 980px) {
    .clients__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 720px) {
    .clients__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  